* {
  box-sizing: border-box;
}

html,
body {
  width: auto;
}

html,
body,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
}

select,
button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-family: 'Noto Sans KR', sans-serif;
}

iframe.youtube {
  width: 100%;
  height: 100%;
}

input,
select,
textarea {
  // ios default style override
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;

  &::placeholder {
    opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
  }
}

a {
  text-decoration: none;
  color: #000;
}
